.container-imagotipo {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 8px 12px;
}

.menu-container {
    border-right: 0.5px solid var(--grey-text-dark);
    flex: 1;
    height: calc(100dvh);
    max-width: calc(100dvw - 82%);
}

.foot-menu-container {
    justify-content: space-between;
    /* position: absolute; */
    left: 0;
    bottom: 0;
}