.commentLollipop {
    display: flex;
    top: 0;
    justify-content: flex-end;
}

.blueLollipop {
    background-color: var(--primary-text);
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px 12px;
    top: 0;
}

.right p {
    text-align: right;
}