.dailyReportContainer {
    background-color: #F4F6FA;
    padding: 20px;
}

.reportContainer {
    background-color: var(--white-text);
}

.buttonSmallContainer {
    background-color: transparent;
    display: inline-flex;
    margin-left: auto;
    padding: 4px;
    float: right;
    right: 0;
    width: 100%;
}

.buttonRight {
    margin-left: auto;
}

.cardsReportContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100dvh - 34dvh);
    padding: 20px;
}

.cardsContent {
    display: grid;
}