:root {
  --primary-text: #466ee9;
  --white-text: #ffffff;
  --grey-text: #97999c;
  --grey-text-dark: #686b6d;
  --dark-grey-text: #797a7c;
  --green-text: #1ab394;
  --red-text: #ff0000;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

/* Font weight */

.textLight {
  font-weight: 100;
}

.textNormal {
  font-weight: 200;
}

.textBold {
  font-weight: 300;
}

/* Color Text */

.greyText {
  color: var(--grey-text);
}

.greyDarkText {
  color: var(--dark-grey-text);
}

.primaryText {
  color: var(--primary-text);
}

.whiteText {
  color: var(--white-text);
}

.redText {
  color: var(--red-text);
}

/* Text margin block */

h1,
h2,
h3,
h4,
p,
span {
  margin-block-start: 0;
  margin-block-end: 0;
}